[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiscreteGapStatistic"]
	path = DiscreteGapStatistic
	url = https://github.com/ecortesgomez/discretegapstatistic
